/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.form{
  margin: auto;
  width: 400px;
}
body{
  color:$pdg-blue;
}
h1{
  text-align: center;
}
.add-a-worker{
  margin: auto;
  display: block;
  width: 190px;
}
table{
  margin: auto;
  margin-top: 20px;
  td, th{
    padding-left: 30px;
    text-align: center;
  }
}
.logo{
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.nav-edit-center{
  margin-top: 30px;
  margin-left: 20px;
}
.caracteristics_worker{
  text-align: center;
}
.spacer{
  height: 60px;
  width: 100%;
}